/* Reset defaults for body and anchors */

body {
	margin: 0;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: white;
}

/* Custom styles start here */

body {
	background-color: #000;
	color: #fff;
	font-family: Roboto, Arial;
}

a {
	color: #fff;
	text-transform: uppercase;
}

/* Navbar styles here */

nav {
	position: sticky;
	height: 60px;
	display: flex;
	position: absolute;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #333;
	background-color: #0000;
}

#nav-links {
	display: flex;
	column-gap: 20px;
}

#nav-links a {
	margin-right: 20px;
	position: relative;
}

#nav-links a::after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	border-top: 2px solid #fff;
	transition: width ease-in 0.25s;
}

#nav-links a:hover::after {
	width: 100%;
}

/* First Section */
#start .title {
	font-family: Orbitron;
	font-weight: 900;
	font-size: 65px;
	width: 60%;
	text-transform: uppercase;
}

.space-background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: -1;
}

.space-dot {
	position: absolute;
	width: 2px;
	height: 2px;
	background-color: #fff;
}
