/* Variables */
:root {
	--nav-height: 60px;
	--default-padding: 20px 15vw 0 15vw;
}

/* Reset defaults for body and anchors */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

/* Custom styles start here */

body {
	overflow-x: hidden;
	font-family: Roboto, sans-serif;
}

/* Navbar styles here */

nav {
	height: var(--nav-height);
	width: 100vw;
	display: flex;
	position: fixed;
	z-index: 1;
	top: 0;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #333;
	font-family: Roboto, sans-serif;
	background-color: #000;
	padding: 0 15px;
}

nav a {
	color: #fff;
}

#nav-logo a {
	display: block;
	font-size: 28px;
	font-family: Roboto, sans-serif;
}

#nav-links {
	display: flex;
	justify-content: center;
	column-gap: 12.5px;
}

#nav-links a {
	text-transform: uppercase;
	position: relative;
}

#nav-links a::after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	border-top: 2px solid #fff;
	transition: width ease-in 0.25s;
}

#nav-links a:hover::after {
	width: 100%;
}

/* Title Section */

#start,
#thank-you {
	height: 100vh;
	color: #fff;
	position: relative;
}

#start .title,
#thank-you .title {
	font-family: Roboto, sans-serif;
	font-weight: 900;
	font-size: 65px;
	width: 60%;
	height: 100vh;
	text-transform: uppercase;
	vertical-align: middle;
	letter-spacing: 10px;
	display: table-cell;
	padding-left: 12vw;
	position: relative;
	top: calc(4 * 75px - 0.5 * 100vh);
	background-color: #0000;
}

/* Space background */

.space-background {
	position: absolute;
	background-color: #000;
	width: 100%;
	height: 100%;
	top: 0;
	contain: paint;
}

.space-dot {
	position: absolute;
	width: 2px;
	height: 2px;
	background-color: #fff;
}

/* About section */

#about {
	padding: var(--default-padding);
	line-height: 30px;
}

/* Qualifications section */

#qualifications {
	padding: var(--default-padding);
	line-height: 30px;
}

#qualifications a:hover {
	text-decoration: underline;
}

#qualifications > ul > li:not(:first-child) {
	margin-top: 5px;
}

#nptel-certifications-table {
	width: calc(100% - 2 * 20px);
	border: 2px solid #e5e2e2;
	border-radius: 10px;
}

#nptel-certifications-table thead {
	background-color: #eee;
	border-radius: 10px;
}

#nptel-certifications-table td {
	border: 2px solid #eee;
	border-collapse: collapse;
}

#nptel-certifications-table tr:nth-child(2n + 1) {
	background-color: #eee;
}

#nptel-certifications-table tr:last-child {
	border-radius: 10px;
}

/* Previous projects section */

#previous-projects {
	padding: var(--default-padding);
}

/* Contact section */

#contact {
	padding: var(--default-padding);
}

.social-cards-container {
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
	flex-wrap: wrap;
	margin-top: 30px;
}

.social-card {
	display: inline-flex;
	width: 35%;
	border: 1px solid #333;
	border-radius: 5px;
	padding: 5px;
}

.social-card:hover {
	background-color: lightblue;
}

.social-card img {
	height: 50px;
	margin: 4px 15px 0 10px;
}

.social-card .title {
	color: #000;
	line-height: 20px;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
}

/* Thank you section */

#thank-you {
	margin-top: var(--nav-height);
}

#thank-you .citation {
	position: absolute;
	bottom: 0;
	margin: 10px;
}

/* Text animation for each section */

#start,
#about,
#qualifications,
#previous-projects,
#contact,
#thank-you {
	scroll-margin: var(--nav-height);
	width: 100vw;
	transition: color ease-in 1s;
}

:is(#start, #about, #qualifications, #previous-projects, #contact, #thank-you):not(.visible),
:is(#start, #about, #qualifications, #previous-projects, #contact, #thank-you):not(.visible) a {
	color: #0000;
}

/* Quotes */

.quote {
	position: absolute;
	top: calc(50vh - 2 * 25px);
	right: 12vw;
	font-size: 25px;
	width: 30vw;
}

/* Media queries for mobile view */

@media only screen and (max-width: 600px) {
	:root {
		--nav-height: 100px;
		--default-padding: 30px 5px;
	}

	nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	#start {
		width: 100%;
		margin-top: 60px;
		height: calc(100vh - 60px);
		display: flex;
		flex-wrap: wrap;
	}

	#start .title,
	#thank-you .title {
		width: 100vw;
		top: calc(10vh);
		padding-left: 20px;
		font-size: 45px;
		height: 100vh;
	}

	#start .quote {
		/* position: static; */
		font-size: 25px;
		width: calc(100vw - 2 * 40px);
		top: unset;
		right: unset;
		bottom: 100px;
		margin: 0 30px;
	}

	#qualifications ul {
		padding-left: 20px;
	}

	#previous-projects a img {
		width: calc(100vw - 20px);
	}

	.social-card {
		width: calc(100% - 2 * 20px);
	}

	#thank-you {
		overflow: hidden;
	}
}
